* {
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif, "Trebuchet MS";
  margin: 0;
}

#product-overview {
  background: url("images/adult-beautiful-blur-712413.jpg");
  width: 100%;
  height: 500px;
  padding: 10px;
}

#product-overview h1 {
  color: white;
}

.section-title {
  color: #2ddf5c;
}

.main-header {
  width: 100%;
  padding: 8px;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  color: #f97694;
  text-decoration: none;
  font-family: "Croissant One", cursive;
  font-weight: bold;
  font-size: 22px;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 100px);
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 15px;
}

.main-nav__item a {
  text-decoration: none;
  /* margin: 0 10px; */
  padding: 3px 0px;
  font-size: 15px;
  color: #48555b;
  font-weight: bold;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: #f97694;
  border-bottom: 2px solid #f97694;
}

