* {
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif, "Trebuchet MS";
  margin: 0;
}

#product-overview {
  background: url("images/adult-beautiful-blur-712413.jpg");
  width: 100%;
  height: 500px;
  padding: 10px;
}

#product-overview h1 {
  color: white;
}

.section-title {
  color: #263238;
  text-align: center;
}

.section-title:before {
  content: "";
  position: absolute;
  margin-top: 30px;
  width: 80px;
  height: 2px;
  background: #f97794;
  transition: 0.3s;
}

#plans > div {
  text-align: center;
}

.plan {
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  box-shadow: 0px 10px 50px 0px rgba(84, 110, 122, 0.15);
  text-align: center;
  padding: 16px;
  margin: 8px;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.plan__annotation {
  padding: 8px;
  color: #263238;
}

.plan__title {
  color: #546e7a;
  font-size: 18px;
}

.plan__price {
  color: #000000;
  font-size: 30px;
}

.plan__features {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plan > h3 {
  color: #263238;
}

.plan__features li {
  padding: 15px;
  color: #546e7a;
}

.plan__features li:nth-child(odd) {
  background-color: #f9f9f9;
}

.plan__button {
  padding: 25px 0;
  background: #f9f9f9;
}

.button {
  background-color: #f97794;
  padding: 14px 32px 10px;
  border-radius: 30px;
  color: #fff;
  font: inherit;
  font-size: 14px;
  font-weight: bold;
  border: 1.5px solid transparent;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: #f75477;
  padding: 17px 35px 13px;
}

.button:focus {
  outline: none;
}

#key-features {
  margin-top: 70px;
}

.key-feature__list {
  list-style: none;
  margin: 0;
  background: #f97794;
  padding: 70px 0;
  text-align: center;
}

.key-feature {
  display: inline-block;
  width: 20%;
  text-align: center;
  color: #fff;
  border: 1px dotted #fff;
  border-radius: 4px;
  padding: 30px;
  margin: 0 15px;
  vertical-align: top;
}

.key-feature__image {
  margin: auto;
  font-size: 42px;
  color: #fff;
}

.key-feature__description {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  margin: 10px 0;
}

.main-header {
  width: 100%;
  padding: 8px;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  color: #f75477;
  text-decoration: none;
  font-family: "Croissant One", cursive;
  font-weight: bold;
  font-size: 22px;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 100px);
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 15px;
}

.main-nav__item a {
  text-decoration: none;
  /* margin: 0 10px; */
  padding: 3px 0px;
  font-size: 15px;
  color: #48555b;
  font-weight: bold;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: #f97694;
  border-bottom: 2px solid #f97694;
}

.main-footer {
  border-top: 1px solid #eaeaea;
  background-color: #ffffff;
  padding: 20px 0 10px;
  margin-top: 48px;
}
.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer__link {
  display: inline-block;
  margin: 0 16px;
}

.main-footer__link a {
  text-decoration: none;
  color: #546e7a;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color:  #f75477;
}
