#product-overview {
  background: url("images/adult-beautiful-blur-712413.jpg") left 10% bottom 55% /
    cover no-repeat border-box;
  /* background-image: url("images/adult-beautiful-blur-712413.jpg");
  background-size: cover;
  background-position: left 10% bottom 20%;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-clip: border-box; */
  /* background-image: linear-gradient(red 50%, blue 70%, transparent); */
  /* background-image: radial-gradient(circle at top, red, blue, green); */
  width: 100vw;
  height: 75vh;
  padding: 0.35rem;
  margin-top: 3rem;
  position: relative;
}

#product-overview h1 {
  color: white;
  font-family: "Croissant One", cursive;
  position: absolute;
  bottom: 5%;
  left: 3%;
}

.section-title {
  color: #263238;
  text-align: center;
  text-transform: uppercase;
}

.section-title:before {
  content: "";
  position: absolute;
  margin-top: 1.9rem;
  width: 5rem;
  height: 0.12rem;
  background: #f97794;
  transition: 0.3s;
}

#plans > div {
  text-align: center;
  /* width: 90%;
  margin: auto; */
}

.plan {
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  box-shadow: 0px 10px 50px 0px rgba(84, 110, 122, 0.15);
  text-align: center;
  padding: 1rem;
  margin: 0.5rem;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.plan__annotation {
  padding: 0.5rem;
  color: #263238;
}

.plan__title {
  color: #546e7a;
  font-size: 1.13rem;
}

.plan__price {
  color: #000000;
  font-size: 1.88rem;
}

.plan__features {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plan > h3 {
  color: #263238;
}

.plan__features li {
  padding: 1rem;
  color: #546e7a;
}

.plan__features li:nth-child(odd) {
  background-color: #f9f9f9;
}

.plan__button {
  padding: 1.58rem 0;
  background: #f9f9f9;
}

#key-features {
  margin-top: 4rem;
}

.key-feature__list {
  list-style: none;
  margin: 0;
  background: #f97794;
  padding: 4rem 0;
  text-align: center;
}

.key-feature {
  display: inline-block;
  width: 20%;
  text-align: center;
  color: #fff;
  border: 1px dotted #fff;
  border-radius: 4px;
  padding: 1.88rem;
  margin: 0 1rem;
  vertical-align: top;
}

.key-feature__icon {
  margin: auto;
  font-size: 2.65rem;
  color: #fff;
}

.key-feature__description {
  text-align: center;
  font-weight: bold;
  font-size: 2.19rem;
  margin: 0.63rem 0;
}

#team-members {
  /* max-width: 960px; */
  margin-top: 4rem;
}

.team-members__list {
  margin: 1.88rem 0 0;
  padding: 0;
  text-align: center;
}

.team-members__padding {
  max-width: 21%;
  display: inline-block;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 1rem;
  padding-left: 1rem;
}

.team-member {
  position: relative;
  text-align: center;
  box-shadow: 0px 10px 50px 0px rgba(84, 110, 122, 0.15);
  background: #f9f9f9;
}

.team-member:hover {
  box-shadow: 0px 10px 50px 0px rgba(23, 30, 34, 0.3);
  background: transparent;
  transform: scale(1.1);
  transition: all 0.3s;
}

.team-member img {
  width: 100%;
  height: 19rem;
  vertical-align: middle;
  border-style: none;
}

.team-member .team-member__details {
  padding: 1rem;
  width: 100%;
  text-align: center;
}

.team-member__details h4 {
  margin: 0 0 0.32rem;
  font-size: 1.13rem;
  color: #263238;
}

.team-member__details p {
  margin: 0 0 0.88rem;
  font-size: 0.87rem;
  color: #546e7a;
}

.social__links {
  margin: 0;
  padding: 0;
  text-align: center;
}

.team-member .social__link {
  list-style: none;
  display: inline-block;
  text-decoration: none;
  height: 2.12rem;
  line-height: 2.12rem;
  width: 2.12rem;
  background: #fff;
  border-radius: 50px;
  padding-top: 0.18rem;
}

.facebook:hover {
  background: #4867aa;
}

.twitter:hover {
  background: #1da1f2;
}

.google-plus:hover {
  background: #dd4d42;
}

.linkedin:hover {
  background: #007bb6;
}

.team-member .social__link a {
  text-align: center;
  color: #f97794;
  text-decoration: none;
}

.social__link:hover a {
  color: #ffffff;
}
