* {
  box-sizing: border-box;
}

/* html {
  font-size: 75%;
} */

body {
  font-family: "Josefin Sans", sans-serif, "Trebuchet MS";
  margin: 0;
}

.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  padding: 0.5rem 4rem;
  z-index: 999;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: #48555b;
  display: block;
  margin: 0.5rem 0;
}

.main-header__brand {
  color: #f75477;
  text-decoration: none;
  font-family: "Croissant One", cursive;
  font-weight: bold;
  font-size: 1.38rem;
  vertical-align: middle;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 145px);
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 1rem;
}

.main-nav__item a,
.mobile-nav__item a {
  text-decoration: none;
  /* margin: 0 10px; */
  padding: 0.19rem 0px;
  color: #48555b;
  font-weight: bold;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: #f97694;
  border-bottom: 2px solid #f97694;
}

.main-footer {
  border-top: 1px solid #eaeaea;
  background-color: #ffffff;
  padding: 1.25rem 0 0.625rem;
  margin-top: 48px;
}
.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer__link {
  display: inline-block;
  margin: 0 1rem;
}

.main-footer__link a {
  text-decoration: none;
  color: #546e7a;
}

.main-footer__link a:hover,
.main-footer__link a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a:active {
  color: #f75477;
}

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 80%;
  height: 100vh;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 10% auto;
  padding: 0;
  text-align: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.1rem;
}

.button {
  background-color: #f97794;
  padding: 0.88rem 2rem 0.625rem;
  border-radius: 30px;
  color: #fff;
  font: inherit;
  font-size: 0.88rem;
  font-weight: bold;
  border: 1.5px solid transparent;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: #f75477;
  padding: 1.07rem 2.19rem 0.82rem;
}

.button:focus {
  outline: none;
}

.open {
  display: block !important;
}
