* {
  box-sizing: border-box;
}

/* html {
  font-size: 75%;
} */

body {
  font-family: "Josefin Sans", sans-serif, "Trebuchet MS";
  margin: 0;
}

.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  padding: 8px 64px;
  z-index: 1;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  color: #f75477;
  text-decoration: none;
  font-family: "Croissant One", cursive;
  font-weight: bold;
  font-size: 22px;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 100px);
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 15px;
}

.main-nav__item a {
  text-decoration: none;
  /* margin: 0 10px; */
  padding: 3px 0px;
  font-size: 15px;
  color: #48555b;
  font-weight: bold;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: #f97694;
  border-bottom: 2px solid #f97694;
}

.main-footer {
  border-top: 1px solid #eaeaea;
  background-color: #ffffff;
  padding: 20px 0 10px;
  margin-top: 48px;
}
.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer__link {
  display: inline-block;
  margin: 0 16px;
}

.main-footer__link a {
  text-decoration: none;
  color: #546e7a;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #f75477;
}

.button {
  background-color: #f97794;
  padding: 14px 32px 10px;
  border-radius: 30px;
  color: #fff;
  font: inherit;
  font-size: 14px;
  font-weight: bold;
  border: 1.5px solid transparent;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: #f75477;
  padding: 17px 35px 13px;
}

.button:focus {
  outline: none;
}
