main {
  padding: 3rem 0 0;
}

.background {
  background: url("../images/action-plan-brainstorming-complex-212286.jpg")
    center/cover;
  filter: grayscale(30%);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.package {
  width: 70%;
  margin: 0 0 3rem 1.9rem;
  padding: 1rem;
  border-radius: 4px;
  background: #fff;
  position: relative;
}

.package:hover,
.package:active {
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.5);
  border: 1px solid #aca5b4;
}

.package a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 1rem;
}

.package__badge {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.25rem;
  font-size: 0.75rem;
  color: white;
  background: rgb(207, 184, 134);
  padding: 0.5rem;
  border-radius: 5px;
}

.package__title {
  font-size: 20px;
}

#plus__plan .package__title {
  margin-top: 30px;
}

.package__subtitle {
  color: #a5a4a2;
}

.package__info {
  padding: 1rem;
  color: #546e7a;
  font-size: 1.2rem;
}

.clearfix {
  clear: both;
}

#plus__plan {
  background: rgba(245, 249, 249, 0.85);
}

#free__plan {
  background: rgba(213, 205, 220, 0.85);
  float: right;
  margin-right: 1.25rem;
  margin-left: 0;
}

#premium__plan {
  background: rgba(243, 234, 214, 0.85);
}

#plus__plan .package__subtitle {
  color: rgb(207, 184, 134);
}

#free__plan .package__subtitle {
  color: #f9f9f9;
}

#premium__plan .package__subtitle {
  color: rgb(194, 178, 209);
}

@media (min-width: 40rem) {
  main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
  }
  .package__title {
    font-size: 24px;
  }
}
